<div class="d-flex justify-content-center">
    {{#each produtores}}
    <form action="/update/{{Gado.id}}" id="tela-inicial" class="bg-formlogin" method="POST">
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Número do brinco:</label>
            <input type="number" name="numero" class="form-control" value="{{Gado.numero}}" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label " for="form2Example2">Data de Nascimento:</label>
            <input type="date" format="2" name="nascimento" class="form-control" value="{{Gado.nascimento}}" disabled="disabled"/>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label " for="form2Example2">Pelagem:</label>
            <input type="text" name="pelagem" class="form-control" value="{{Gado.pelagem}}" disabled="disabled"/>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label " for="form2Example2">Potreiro:</label>
            <input type="text" name="potreiro" class="form-control" value="{{Gado.potreiro}}"/>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label " for="form2Example2">Produtor:</label>
            <input type="text" name="produtor" class="form-control" value="{{nome}}" disabled="disabled"/>
        </div>
    {{/each}}
        <div class="row mb-1">
            <button type="submit"  id="login" class="btn btn-login btn-block mb-4">Editar</button>
        </div>  
    </form>
</div>  